.about-me {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  background-color: #f6f6f6;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  margin: 20px auto;
  padding: 50px;
  max-width: 1200px;
  margin-top: 180px;
}

.about-me a {
  font-size: 1rem;
}

.about-me h1 {
  font-size: 2.5rem;
  color: #004b8c;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 3px solid #ff6f61;
  text-align: center;
}

.about-me-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.about-me img {
  max-width: 200px;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.about-info,
.about-contact {
  max-width: 50%;
}

.about-me {
  overflow-x: hidden;
}

.about-me h2 {
  font-size: 2rem;
  color: #004b8c;
  border-bottom: 3px solid #ff6f61;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.about-me p {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}

.phone-link-about {
  animation: pulseAnimation 2s infinite;
  text-decoration: none;
  color: black;
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-me a {
    font-size: 0.9rem;
  }

  .about-me img {
    max-width: 100%;
  }

  .about-me {
    flex-direction: column;
    align-items: stretch;
    margin: 10px;
    padding: 10px;
    gap: 10px;
    margin-top: 90px;
  }

  .about-me h1 {
    font-size: 1.7rem;
  }

  .about-me-section {
    flex-direction: column;
    align-items: center;
  }

  .about-info,
  .about-contact {
    max-width: 100%;
  }

  .about-me h2 {
    font-size: 1.5rem;
  }

  .about-me p {
    font-size: 0.9rem;
  }
  
  .about-me-section,
  .about-image,
  .about-info,
  .about-contact {
    margin-bottom: 10px;
    width: 100%;
  }
}

/* Animations */
@keyframes pulseAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.about-highlight {
  font-size: 1.2rem;
  color: #004b8c;
  background-color: #ffe6e0; /* Leichter orangener Hintergrund */
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-weight: bold;
}


/* Optional: Schriftart ändern, falls gewünscht */
.about-highlight {
  font-family: 'Arial', sans-serif;
}
