.App {
  opacity: 0;
  transition: opacity 3s;
}

.loading-logo {
  position: absolute;
  top: calc(50% - 80px);
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 2px; 
  color: #004b8c;  
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 1;
  animation: fadeOut 1.5s forwards;
  animation-delay: 0.5s;
}

.fade-in .App {
  opacity: 1;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
